/* HELE SIDEN */

* {
    margin: 0;
}

body {}

img,
video {
    width: 100%;
}

/* MOBILVERSION*/

/* Tekst */
h1 {
    text-align: center;
    color: #3F633B;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
    text-transform: Uppercase;
    padding: 2vw;
    font-weight: 100;
    letter-spacing: 0.4vw;
}

h2 {
    text-align: center;
    color: #3F633B;
    font-family: 'Questrial', sans-serif;
    font-size: 1.4em;
    text-transform: Uppercase;
    padding: 2vw;
    font-weight: 100;
}

h3 {
    text-align: center;
    color: #3F633B;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    text-transform: Uppercase;
    font-weight: 100;
    padding: 1vw;
    letter-spacing: 0.3vw;
    margin-top: 4vw;
}

p {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    color: #6F6F6F;
    margin-top: 3vw;
    margin-bottom: 3vw;
    line-height: 1.3em;
    text-align: left;
}

a {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: #F7CCDA;
    color: #3F633B;
}

br {
    margin-bottom: 5vw;
}

/* Menu */

nav {
    background-color: #FAF2F5;
    width: 100%;
    height: auto;
    position: fixed;
}

.logo {
    width: 12vw;
    height: auto;
    margin: 2vw;
    z-index: 99;
}

#burgermenu {
    display: block;
    float: right;
    margin: 2vw;
    font-size: 2.4em;
    color: #3F633B;
    margin-top: 2vh;
}

#menu {
    position: absolute;
    width: 100vw;
    background-color: #FAF2F5;
    height: 100vh;
}

/* Animation til drop down menu mobil*/

.dropDown_open {
    animation-name: dropDown_open_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes dropDown_open_kf {
    0% {
        transform: translateY(-100vh) scaleY(0);
    }

    100% {
        transform: translateY(0) scaleY(1);
    }

}

/*
.dropDown_close {
    animation-name: dropDown_close_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes dropDown_close_kf {
    0% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(-100vh) scaleY(0);
    }

}
*/


nav hr {
    color: #3F633B;
    width: 50%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    text-align: center;
    padding: 1vh;
}

nav a {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: #3F633B;
}

nav .some {
    display: none;
}

.hidden {
    display: none;
}


/* INDHOLD PÅ SIDEN*/


main {
    padding-top: 11vh;
    margin: 5vw;
    margin-top: 0;
}


.temaer_left,
.temaer_right {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 55% 45%;
    column-gap: 1vw;
    margin-top: 2vh;
    margin-left: -3vw;
}

.temaer_right {
    grid-template-columns: 45% 55%;
    margin-left: 0;
    margin-right: -3vw;
}

.temaBeskrivelse h2 {
    font-size: 1.2em;
}

.temaBeskrivelse h3 {
    font-size: 0.7em;
    margin-top: 0;
}

/* OM MIG SIDEN */

#intro ul {
    padding: 1vw;
}

#intro li {
    list-style: none;
    color: #F7CCDA;
    font-family: 'Questrial', sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding: 1.2vw;
    letter-spacing: 0.5px;
}

#hurtig_info {
    display: block;
    margin: 2vw;
}

#fakta {
    background-color: #3F633B;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-right: 0;
}

#this_or_that {
    background-color: #3F633B;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 0;
}

#fem_hurtige {
    background-color: #3F633B;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-right: 0;
}


#omMig #billedecollage {
    padding: 3vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr) 1fr;
    height: auto;
}

#billedecollage #baggrund {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    z-index: -3;
    opacity: 60%;
}

#billedecollage #forgrund {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 3;
    z-index: -2;
}

#tlfMail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5vw;
    margin-left: 20vw;
    margin-right: 15vw;
}

#tlfMail img {
    width: 6vw;
    padding: 1vw;
}

#tlfMail a {
    padding: 1vw;
}

#kontakt {
    background-color: #FAF2F5;
}

#kontakt {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#kontakt p {
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: justify;
}

#kontaktFormular {
    margin: 5vw;
}

textarea,
input {
    width: 80%;
    height: 4vh;
    padding: 1vw;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    color: #6F6F6F;
    border: none;
}

textarea {
    height: 10vh;
    max-width: 80%;
}

.send {
    border: none;
    color: #3F633B;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-weight: 200;
}

#kontaktFormular .form_felt {
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.send img {
    width: 5vw;
    padding: 1vw;

}

#tak {
    background-color: #FAF2F5;
    height: 70vh;
    position: absolute;
    top: 100px;
    width: 90vw;
}

#tak h2 {
    padding-top: 7vh;
}

#tak p {
    padding: 5vw;
    text-align: center;
}

#tak img {
    width: 50vw;
    display: block;
    margin: auto
}

#tak .luk {
    width: 8vw;
    margin-right: 3vw;
    margin-top: 3vw;
}

/* PROJEKTER */

h2 {
    padding: 1vw;
}

.info {
    background-color: #FAF2F5;
    padding-top: 5vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
    padding-right: 3vw;
}

.info h3 {
    padding: 3vw;
    text-align: left;
    margin-left: 15%;
    letter-spacing: 0;
}

.info ul {
    list-style-type: circle;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    color: #3F633B;
    margin-left: 15%;
    padding-bottom: 5vw;
}

#video_prototype {
    max-height: 60vh;
    margin: auto;
}


/* FOOTER */

footer {
    background-color: #FAF2F5;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-end;
}

footer p {
    color: #3F633B;
    font-size: 0.7em;
    padding: 1vw;
}

footer .some {
    width: 6vw;
    display: flex;
    padding: 1vw;

}


@media only screen and (min-width: 800px) {

    /* DESKTOP */

    nav {
        width: 15vw;
    }

    #menu {
        display: block;
        width: 15vw;
    }

    nav li {
        text-align: left;
        padding: 0.5vw;
        padding-left: 2vw;
    }



    .logo {
        width: 8vw;
        height: auto;
        margin: 3vw;
        margin-left: 3.5vw;
        margin-bottom: 1vw;
    }

    #burgermenu {
        display: none;
    }

    nav a {
        letter-spacing: 0.15vw;
    }

    nav a:hover {
        color: #F7CCDA;
    }

    nav hr {
        width: 80%;
    }

    nav #some {
        margin-left: 1.8vw;
    }

    nav .some {
        display: inline-block;
        width: 2vw;
        padding: 0.2vw;
    }

    main {
        padding-top: 3vh;
        margin-left: 17vw;
        margin-right: 2vw;
    }

    h2 {
        padding: 0.4vw;
        font-size: 1.4em;
        letter-spacing: 0.1vw;
    }

    h3 {
        margin-top: 0;
        text-align: left;
        padding-left: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 1vw;
        text-align: justify;
    }

    br {
        margin-bottom: 2vw;
    }

    /*    PORTFOLIO SIDEN */


    .tekst_intro {
        margin-top: 0vw;
        margin-bottom: 3vw;
        text-align: center;
    }

    #temaer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3vw;
    }

    .temaer_left,
    .temaer_right {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 25vw;
        height: 20vw;
    }

    .temaBillede {
        display: flex;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        opacity: 100%;
    }


    .temaBillede img {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }

    .temaBillede:hover {
        opacity: 0;
    }

    .temaBeskrivelse {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;

        background-color: #3F633B;
        display: grid;
        justify-content: center;
        align-content: center;
        height: 96.9%;
        margin-bottom: 0.6vh;
        z-index: -1;
    }

    .temaBeskrivelse a h2,
    .temaBeskrivelse a h3 {
        color: #F7CCDA;
        padding: 1vw;
        letter-spacing: 0.3vw;
    }

    .temaBeskrivelse a h3 {
        padding: 0.2vw;
        text-align: center;
        font-size: 0.8em;
        margin: 0;
    }


    /*    OM MIG SIDEN */


    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;
    }

    #intro p {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    #intro #portraet {
        width: 30vw;
        margin: auto;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    #intro li {
        padding: 0.3vw;
    }

    #hurtig_info {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 50vh;
        margin-left: 4vw;
    }

    #fakta {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 4;
    }

    #this_or_that {
        grid-column-start: 4;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 4;
    }

    #fem_hurtige {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 5;
        grid-row-end: span 2;
    }

    #omMig {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;

    }

    #omMig h2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: center;
        padding: 3vw;
    }

    #omMig #billedecollage {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 5;

        height: 40vh;
    }


    #kontakt {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #kontakt h2 {
        padding: 2vw;
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: center;
        letter-spacing: 0.4vw;
    }

    #kontaktInfo {
        border-right: 0.2vw solid #3F633B;
        margin-bottom: 2vw;
    }

    #kontaktFormular {
        margin: 0;
    }

    #tlfMail {
        margin-left: 7vw;
        align-items: center;
    }

    #tlfMail img {
        width: 2.5vw;
        padding: 0.3vw;
        border: 2vw;
    }

    #kontakt p {
        margin-left: 7vw;
        margin-right: 7vw;
        text-align: left;
    }

    input {
        height: 1.5vh;
    }

    textarea {
        height: 8vh;
    }

    .send {
        font-weight: 400;
    }

    .send img {
        width: 2vw;
    }

    #tak {
        position: absolute;
        width: 81vw;
        top: 200px;
        height: auto;
    }

    #tak h2 {
        padding-top: 2vh;
    }

    #tak p {
        padding: 2vw;
        text-align: center;
    }

    #tak img {
        width: 20vw;
        display: block;
        margin: auto;
        padding: 2vw;
    }

    #tak .luk {
        width: 3vw;
        margin-right: 2vw;
        padding: 1vw;
    }

    #tak a:hover,
    #tak .luk:hover {
        color: #F7CCDA;
        cursor: pointer;
    }



    /*    PROJEKTER */


    section {
        margin-top: 3vw;
    }

    .intro {
        margin-top: 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;
    }

    .mine_opgaver {
        margin-top: 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;
    }

    .info {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 1.2vw;
        padding-right: 3vw;
        padding-bottom: 2vw;
    }

    .info h3 {
        padding: 1vw;
        margin-left: 2vw;
    }

    .info ul {
        margin-left: 2vw;
        padding-bottom: 0;
    }

    .process {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;
    }

    .process h3 {
        margin-top: 0;
        padding-top: 0;
    }

    .reflektioner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;
    }

    .reflektioner h3 {
        margin-top: 0;
        padding-top: 0;
    }

    .process a:hover,
    .reflektioner a:hover,
    .mine_opgaver a:hover {
        color: #F7CCDA;
    }

    .tekst {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .tema4_collage {
        display: grid;
        height: 40vh;

    }


    /*
    .tema4_collage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
        grid-gap: 1vw;
    }

    .tema4_collage .bagerste {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .tema4_collage .forreste {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 3;
    }

    */

    .tema5_collage {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
        grid-gap: 1vw;
    }

    .tema5_collage .bagerste {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .tema5_collage .forreste {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: span 3;
    }


    /*    FOOTER */


    footer {
        width: 15vw;
        position: fixed;
        bottom: 1vw;
    }

    footer p {
        margin: 0;
        padding: 0;
        padding-left: 2vw;
        width: 100%;
        font-size: 0.6em;
    }

    footer .some {
        display: none;
    }
}
