/* HELE SIDEN */

* {
    margin: 0;
}

body {
    overflow: hidden;
    background-color: aliceblue;
}

/* MOBILVERSION* /

/* Menu */

.logo {
    width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4vw;
}

#sophie_spang {
    display: none;
}


/*
#portfolio a img {
    position: absolute;
    width: 75%;
    height: 30vh;
    object-fit: cover;
    top: 25vw;
}

#portfolio p {
    transform: rotate(-90deg);
    position: absolute;
    right: 7vw;
    top: 34vh;
}

#om_mig a img {
    position: absolute;
    width: 60%;
    height: 45vh;
    object-fit: cover;
    bottom: 8vw;
    right: 0;
}

#om_mig p {
    transform: rotate(-90deg);
    position: absolute;
    left: 28vw;
    bottom: 8vh;
}
*/

#portfolio {
    display: grid;
    grid-template-columns: auto auto;
}

#portfolio p {
    transform: rotate(-90deg) translateY(13vw) translateX(-11vw);
}


#om_mig {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
}

#om_mig p {
    transform: rotate(-90deg) translateY(40vw) translateX(-14vw);

}

#om_mig img {}

#forside img {
    width: 100%;
    object-fit: cover;
}



@media only screen and (min-width: 800px) {

    /* DESKTOP */

    #sophie_spang {
        display: block;
        transform: rotate(-90deg);
        position: absolute;
        right: -300px;
        top: 18vh;
    }

    #sophie_spang p {
        color: #3F633B;
        font-size: 15rem;
        font-family: 'Questrial', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1vw;
    }

    #sophie_spang .spang {
        letter-spacing: 2vw;
    }


}
